.single-post-page {
	h1 {
		text-align: center;
	}

	a {
		color: black;
		text-decoration: none;
		font-weight: bold;
		margin-bottom: 3rem;
		display: block;
	}
}

.comments {
	margin-top: 3rem;
	text-align: left;
}
